[Unit]
Description=AlarmBot Server
[Service]
ExecStart=/bin/bash -c '/usr/bin/python3 SERVER_PLACEHOLDER  > LOG_PLACEHOLDER 2>&1'
[Install]
WantedBy=multi-user.target
[Service]
#Environment=DEBUG=on
WorkingDirectory=WORKING_DIR_PLACEHOLDER
User=USER_PLACEHOLDER
